*:hover {
  outline: 2px solid rgba(255, 0, 0, 0.2);
}

* *:hover {
  outline: 2px solid rgba(0, 255, 0, 0.2);
}

* * *:hover {
  outline: 2px solid rgba(0, 0, 255, 0.2);
}

* * * *:hover {
  outline: 2px solid rgba(255, 0, 255, 0.2);
}

* * * * *:hover {
  outline: 2px solid rgba(0, 255, 255, 0.2);
}

* * * * * *:hover {
  outline: 2px solid rgba(0, 0, 255, 0.6);
}

* * * * * * *:hover {
  outline: 2px solid rgba(255, 0, 0, 0.6);
}

* * * * * * * *:hover {
  outline: 2px solid rgba(0, 255, 0, 0.6);
}

* * * * * * * * *:hover {
  outline: 2px solid rgba(0, 0, 255, 0.6);
}
