/* General HTML tags */

html {
  background-image: url("../images/owl.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

body {
  margin: 0;
  text-align: center;
  color: #2d4059;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 3rem;
  line-height: 2;
}

h2 {
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

h1,
h2 {
  color: #ea5455;
}

hr {
  border-color: #decdc3;
  border-style: dotted none none none;
  border-width: 10px;
  width: 80px;
  margin: 100px auto;
}

/* unvisited link */
a:link,
a:visited {
  text-decoration: none;
  color: #446288;               /* slightly lighter than #2d4059 */
}

/* mouse over link */
a:hover {
  color: #143c71;               /* slightly more saturated than #2d4059 */
}

/* Title box */

#title-box {
  position: relative;
  padding-top: 100px;
}

/* Profile box */

#profile-box {
  margin-top: 20px;
}

.profile {
  width: 40%;
  margin: 50px auto 200px auto;
  text-align: left;
}

#profile-picture {
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

/* Items */

.item {
  width: 40%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.item > p {
  line-height: 2;
}

.left-image {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.left-div {
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  background-color: #decdc3;
  float: left;
  margin-right: 30px;
}

.right-image {
  width: 20%;
  float: right;
  margin-left: 30px;
}

/* Contax box */

.contact-link {
  font-family: 'Merriweather Sans', sans-serif;
  margin: auto 50px auto 50px;
  font-size: 1.5rem;
}

/* Bottom box */

#bottom-box {
  margin-top: 25px;
  padding-top: 25px;
  background-color: #ea5455;
  font-size: 0.8rem;
}

@media (max-width: 1028px) {
  .profile {
    width: 80%;
    text-align: center;
  }

  #profile-picture {
    width: 50%;
    float: none;
    display: block;
    margin: 0 auto 30px auto;
  }

  .skill-row {
    width: 80%;
  }
}
