/* General HTML tags */

html {
  background-image: url("../images/owl.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

body {
  margin: 0;
  text-align: center;
  color: #2d4059;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 3rem;
  line-height: 2;
}

h2 {
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

h1,
h2 {
  color: #ea5455;
}

hr {
  border-color: #decdc3;
  border-style: dotted none none none;
  border-width: 10px;
  width: 80px;
  margin: 100px auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: #446288;               /* slightly lighter than #2d4059 */
}

a:hover {
  color: #143c71;               /* slightly more saturated than #2d4059 */
}

p {
  line-height: 2;
}

p a:link {
  text-decoration: underline dotted;
}

/* Top navigation menu */

.topnav {
  position: fixed;
  top: 20px;
  right: 20%;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  z-index: 1;
}

.topnav input {
  display: none;
}

.topnav input:checked ~ label span:first-child {
  display: none;
}

.topnav input:not(:checked) ~ label span:last-child {
  display: none;
}

.topnav label {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  width: 41px;
  height: 41px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.topnav ul {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0 0 0 10px;
  margin: 0;
  transition: width 0.1s, height 0.1s;
  list-style: none;
  text-align: left;
}

.topnav input:checked ~ ul {
  width: 150px;
  height: 120px;
}

.topnav ul li a {
  font-family: 'Merriweather Sans', sans-serif;
  display: block;
  line-height: 30px;
  margin-right: 50px;
  transition: color 0.1s, background 0.1s;
}

/* Title box */

#title-box {
  position: relative;
  padding-top: 100px;
}

/* Profile box */

#profile-box {
  margin-top: 20px;
}

.profile {
  width: 40%;
  margin: 50px auto 200px auto;
  text-align: left;
}

#profile-picture {
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

/* Items */

.item {
  width: 40%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.left-image {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.left-div {
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  background-color: #decdc3;
  float: left;
  margin-right: 30px;
}

.right-image {
  width: 20%;
  float: right;
  margin-left: 30px;
}

/* Contax box */

.contact-link {
  font-family: 'Merriweather Sans', sans-serif;
  margin: auto 50px auto 50px;
  font-size: 1.5rem;
}

/* Bottom box */

#bottom-box {
  margin-top: 25px;
  padding-top: 25px;
  background-color: #ea5455;
  font-size: 0.8rem;
}

@media screen and (max-width: 1028px) {
  .profile {
    width: 80%;
    text-align: center;
  }

  #profile-picture {
    width: 50%;
    float: none;
    display: block;
    margin: 0 auto 30px auto;
  }

  .item {
    width: 80%;
  }
}

@media screen and (max-width: 1028px) {
  .topnav {
    /* border: 2px solid #e5e5e5; */
    right: 0;
    min-width: 80px;
    min-height: 80px;
    background: white;
  }

  .topnav label {
    width: 81px;
    height: 81px;
    font-size: 4rem;
  }

  .topnav input:checked ~ ul {
    width: 450px;
    height: 350px;
  }

  .topnav ul li a {
    font-size: 3rem;
    line-height: 1.5;
  }
}
