/* General HTML tags */

html {
  background-image: url("../images/owl.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

body {
  margin: 0;
  text-align: center;
  color: #2d4059;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 3rem;
  line-height: 2;
}

h2 {
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

h1,
h2 {
  color: #ea5455;
}

hr {
  border-color: #decdc3;
  border-style: dotted none none none;
  border-width: 10px;
  width: 80px;
  margin: 100px auto;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: #143c71;               /* slightly more saturated than #2d4059 */
}

/* mouse over link */
a:hover {
  color: #446288;               /* slightly lighter than #2d4059 */
}

/* Title box */

#title-box {
  position: relative;
  padding-top: 100px;
}

/* Profile box */

#profile-box {
  margin-top: 20px;
}

.profile {
  width: 40%;
  margin: 50px auto 200px auto;
  text-align: left;
}

#profile-picture {
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

/* Skills */

.skill-row {
  width: 40%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.skill-row > p {
  line-height: 2;
}

#language-image {
  width: 20%;
  float: left;
  margin-right: 30px;
}

#code-image {
  width: 20%;
  float: right;
  margin-left: 30px;
}

/* Contax box */

.contact-button {
  background: #ea5455;
  background-image: -moz-linear-gradient(top, #ea5455, #e77);
  background-image: -webkit-linear-gradient(top, #ea5455, #e77);
  background-image: -ms-linear-gradient(top, #ea5455, #e77);
  background-image: -o-linear-gradient(top, #ea5455, #e77);
  background-image: -webkit-gradient(top, #ea5455, #e77);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  text-shadow: 1px 1px 20px #000;
  border: solid #fff 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-button:hover {
  border: solid #fff 1px;
  background: #e77;
  background-image: -moz-linear-gradient(top, #e77, #ea5455);
  background-image: -webkit-linear-gradient(top, #e77, #ea5455);
  background-image: -ms-linear-gradient(top, #e77, #ea5455);
  background-image: -o-linear-gradient(top, #e77, #ea5455);
  background-image: -webkit-gradient(top, #e77, #ea5455);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* Bottom box */

#bottom-box {
  margin-top: 50px;
  padding-top: 50px;
  background-color: #ea5455;
  font-size: 0.8rem;
}

.footer-link {
  font-family: 'Merriweather Sans', sans-serif;
  margin: auto 50px auto 50px;
  font-size: 1.5rem;
}

@media (max-width: 1028px) {
  .profile {
    width: 80%;
    text-align: center;
  }

  #profile-picture {
    width: 50%;
    float: none;
    display: block;
    margin: 0 auto 30px auto;
  }

  .skill-row {
    width: 80%;
  }
}
